services:
  backend:
    build:
      context: ./ssabab-spring-back
      dockerfile: Dockerfile
    
    image: yooseunghyeon/ssabab:back-v1.16

    container_name: ssabab-back

    ports:
      - "8080:8080"

    env_file:
      - ../.env
